@layer customTheme {
  article img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--ifm-toc-border-color);
    border-radius: var(--ifm-global-radius);
  }

  article img + em {
    font-style: normal;
    font-size: 0.8em;
    font-weight: 300;
  }

  article table img {
    border: none;
    vertical-align: middle;
    max-width: 30px;
  }
}
