@layer customTheme;

@layer customTheme {
  :root:not(#\#):not(#\#) {
    --ifm-color-primary-lightest: oklch(70% 0.12 174);
    --ifm-color-primary-lighter: oklch(65% 0.12 174);
    --ifm-color-primary-light: oklch(60% 0.12 174);
    --ifm-color-primary: oklch(55% 0.12 174);
    --ifm-color-primary-dark: oklch(50% 0.12 174);
    --ifm-color-primary-darker: oklch(45% 0.12 174);
    --ifm-color-primary-darkest: oklch(40% 0.12 174);
  }
}
