:root{
  --ifm-color-primary-lightest: #1ADEB9;
  --ifm-color-primary-lighter: #17C5A3;
  --ifm-color-primary-light: #16BC9C;
  --ifm-color-primary: #14AB8E;
  --ifm-color-primary-dark: #129A80;
  --ifm-color-primary-darker: #119179;
  --ifm-color-primary-darkest: #0E7863;
}
